* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #f67280 !important;
  border-width: 0px !important;
}

.card {
  border: none !important;
}

.card,
.btn,
.card-img-top,
.rounded,
.form-control {
  border-radius: 10px !important;
}

.navbar {
  top: 0;
  transition: top 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

.hero_section {
  background-image: url("assets/Hinterrhein.png");
  object-fit: cover;
}

.hero_text_container {
  background-color: rgba(159, 183, 214, 0.3);
  backdrop-filter: blur(12px);
}

.card-img-top {
  object-fit: cover;
}

h2 {
  color: #161616;
}

h3 {
  color: rgba(22, 22, 22, 0.8);
}
